@mixin underline-hover(
  $color: currentColor,
  $height: 2px,
  $hover-scale: 1,
  $transition: 0.3s ease
) {
  & {
    position: relative;
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    height: $height;
    width: 100%;
    background-color: $color;
    transition: transform $transition;
  }

  &:hover::after {
    transform: translateX(-50%) scaleX($hover-scale);
  }
}
