@use "variables" as v;

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.active-border {
  border: 2px solid var(--Orange);
}

// .active {
//   opacity: 0.3;
// }

.no-scroll {
  overflow: hidden;
  height: 100vh; /* Optional: prevents some iOS scrolling issues */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 2;
}
/* Utility classes above */

// animation utilities
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    // opacity: 0;
  }
  25% {
    transform: translateX(-75%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0);
    // opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    // opacity: 0;
  }

  25% {
    transform: translateX(75%);
    // opacity: 0;
  }

  50% {
    transform: translateX(50%);
    // opacity: 0;
  }

  75% {
    transform: translateX(25%);
    // opacity: 0;
  }

  100% {
    transform: translateX(0);
    // opacity: 1;
  }
}
