@use "../abstracts" as abs;
@use "../base/" as b;

.nav__toggle,
.hero__control {
  @extend %btn;
}

.nav__toggle,
.hero__controls--mobile {
  @include abs.breakpoint(desktops) {
    display: none;
  }
}

.hero__controls--desktop {
}

.nav__toggle {
  z-index: 2;
}

.hero__control:hover,
.hero__control:active {
  background-color: abs.$Grey-800;
}

.hero__cta:hover {
  color: abs.$Grey-500;
}

.hero__cta:hover path,
.hero__cta:active path {
  fill: #a1a1a1;
}
